* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  line-height: 0;
}

.gallery {
  display: flex;
  width: 1440px;
  height: auto;
  padding: 24px 156px;
  gap: 24px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  background: #fff;
  flex-wrap: wrap;
}

.gallery img {
  position: relative;
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}
